.App {
  text-align: center;
}

.para {
  background-color: red;
  padding: 10px;
  text-align: center;
  width: 1000px;
  margin: auto;
}

.menu {
  width: 30%;
  position: fixed;
  text-align: left;
  height: 100vh;
  transition: 0.5s;
  left: -100%;
  background-color: yellow;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.activeMenu {
  left: 0%;
}

.micon {
  position: absolute;
  right: 10px;
}

.modalOverlay {
  width: 100%;
  position: fixed;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalShow {
  display: block;
}

.modalDiv {
  width: 320px;
  height: 320px;
  left: 50%;
  transition: 0.3s;
  top: -500px;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
}

.showModalDiv {
  top: 50%;
}

.en {
  position: fixed;
  right: -30px;
  top: 150px;
  transform: rotate(90deg);
}