.App {
  text-align: center;
}

.para {
  background-color: red;
  padding: 10px;
  text-align: center;
  width: 1000px;
  margin: auto;
}

.menu {
  width: 30%;
  position: fixed;
  text-align: left;
  height: 100vh;
  transition: 0.5s;
  left: -100%;
  background-color: yellow;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.activeMenu {
  left: 0%;
}

.micon {
  position: absolute;
  right: 10px;
}

.modalOverlay {
  width: 100%;
  position: fixed;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalShow {
  display: block;
}

.modalDiv {
  width: 320px;
  height: 320px;
  left: 50%;
  transition: 0.3s;
  top: -500px;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
}

.showModalDiv {
  top: 50%;
}

.en {
  position: fixed;
  right: -30px;
  top: 150px;
  transform: rotate(90deg);
}

.faqouter {
  width: 1320px;
  margin: auto;
}

.faqitems {
  border: 1px solid red;
  margin-bottom: 20px;
  cursor: pointer;
}


.faqitems h2 {
  margin: 0px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: left;
}

.faqitems p {
  margin: 0px;
  padding: 0px;
  height: 0px;
  transform: scaleY(0);
  text-align: left;
}

.activeAns {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}