.App {
  text-align: center;
}

.para {
  background-color: red;
  padding: 10px;
  text-align: center;
  width: 1000px;
  margin: auto;
}

.menu {
  width: 30%;
  position: fixed;
  text-align: left;
  height: 100vh;
  transition: 0.5s;
  left: -100%;
  background-color: yellow;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.activeMenu {
  left: 0%;
}

.micon {
  position: absolute;
  right: 10px;
}